{% extends 'base.html' %}
{% block content %}
{% load bootstrap_tags %}
{% load static %}
<div class="body-container">
  <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="aboutme">James Sanderson - Web Developer</h2>
      <p id="center-text">
        I have worked in IT for over 10 years, mainly working on the infrastructure side of things, in 2016 I decided I wanted a change. So I did just that and decided to embark on a new challenge and funded myself to complete a successful diploma in Full Stack Web development.         <br />
        <br />
        What I learnt are the most up to date and current in Web Development. From creating responsive and fast web apps using AngularJS, using Django - a web framework - written in Python that lets you quickly create web-sites, allows users to upload and manage content, quick and simple. To using Flask - a micro framework written in Python - and using a combination of MongoDB and DC.js to create beautiful, responsive charts.         <br />
        <br />

        You can view my <a href="#"class="portfolio" id="keep-text">portfolio</a> to see the pages I have created. Listed below are all the technologies I have learnt.
      </p>
      <br>
      <p>
      </p>
      <h3><strong><i class="devicon-html5-plain"></i>HTML / <i class="devicon-css3-plain"></i>CSS / <i class="devicon-django-plain"></i>Django / <i class="devicon-angularjs-plain"></i>AngularJS / <i class="devicon-javascript-plain"></i>Javascript / <i class="devicon-jquery-plain"></i>jQuery / <i class="devicon-python-plain"></i>Python / <i class="devicon-mongodb-plain"></i>MongoDB / <i class="devicon-d3js-plain"></i>d3.js / <i class="devicon-mysql-plain"></i>MySQL</strong></h3>
    </div>
  </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" id="text-align">
      <h2 class="aboutme">Contact Form</h2>
      <form role="form" action="" method="post">
          {% csrf_token %}
          {{ form|as_bootstrap }}
          <input type="submit" class="sendbutton" value="Submit"/>
      </form>
      </div>
    </div>
  </div>
</div>
</div>

</div>

{% endblock %}
