<!DOCTYPE html>
{% load static %}
<head>
    <title>James Sanderson
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=VT323|Roboto" rel="stylesheet">
    <script src="https://use.fontawesome.com/f513972750.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="my-navbar">
            <div class="nav-header">
                <a href="/">James Sanderson</a><div class="hide-span"><span class="fa fa-bars"></span></div>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li id="portfolio"><a href="#">Portfolio</a></li>
                <li><a href="{% url 'aboutme' %}">About</a></li>
            </ul>
    </nav>
    <div class="body-container1">
    <div class="bg-color"><h1>Projects</h1></div>
    <div class="row">
            {% for p in projects %}
        <div class="col-sm-4"><h2>{{ p.project_name }}</h2></div>
            {% endfor %}
    </div>
    <div class="row">
        {% for p in projects %}
        <div class="col-sm-4"><a href="{% url 'projects' p.id %}"><img src="/media/{{ p.project_image }}" width="400" height="300"></a></div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="upbutton col-sm-4 col-sm-offset-4"><a href="#"><span class="fa fa-arrow-circle-up fa-4x" aria-hidden="true"></span></a></div>
    </div>
</div>
<div class="body-container2">
<div class="bg-color"><h1>Projects</h1></div>
<div class="row center">
        {% for p in projects %}
    <div class="col-sm-4"><h2 class="h2-size">{{ p.project_name }}</h2></div>
    <div class="col-sm-4"><a href="{% url 'projects' p.id %}"><img src="/media/{{ p.project_image }}" width="300" height="200"></a></div>
        {% endfor %}
</div>
<div class="row">
    <div class="upbutton col-sm-4 col-sm-offset-4"><a href="#"><span class="fa fa-arrow-circle-up fa-4x" aria-hidden="true"></span></a></div>
</div>
</div>
    {% block content %}
    {% endblock %}
</body>
</html>
