{% extends 'base.html' %}
{% block content %}
{% load bootstrap_tags %}
{% load static %}
<div class="body-container">
    <h1>Hello, I am James.</h1>
    <h1>A Web Developer.</h1>
    <h2>Full Stack Web Developer located in Carlisle, Cumbria</h2>
    <h2><i class="devicon-html5-plain"></i>HTML / <i class="devicon-css3-plain"></i>CSS / <i class="devicon-django-plain"></i>Django / <i class="devicon-angularjs-plain"></i>AngularJs / <i class="devicon-javascript-plain"></i>Javascript / <i class="devicon-jquery-plain"></i>jQuery / <i class="devicon-python-plain"></i>Python </h2>
    <button class="sendbutton" data-toggle="modal" data-target="#myModal">Get in Touch <span class="fa fa-paper-plane" aria-hidden="true"></span></button>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->

          <div class="modal-content">
            <div class="modal-body">
              <div class="modal-container">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-sm-12 form">
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <input type="submit" class="sendbutton" value="Submit"/>
              <button type="button" class="sendbutton" data-dismiss="modal">Close</button>
            </div>
            </form>
          </div>
        </div>
      </div>

{% endblock %}
