{% extends 'base.html' %}
{% block content %}
<div class="body-container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>{{ project.project_name }}</h2>
                <p>{{ project.project_description }}</p>
                <div class="github">
                  <a href="{{ project.project_git }}" target="_blank"><p>View on GitHub<i class="fa fa-github fa-3x" aria-hidden="true"></i></p></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="{{ project.project_link}}"  target="_blank"><img class="desktop" src="/media/{{ project.project_image_high_res }}" height="600" width="900"></a>
                <a href="{{ project.project_link}}"  target="_blank"><img class="mobile" src="/media/{{ project.project_image_high_res }}" height="300" width="500"></a>
            </div>
        </div>
</div>
{% endblock %}
